.main-header {
    display: flex;
    background-color: greenyellow;
    width: 100%;
    height: 100%;
}

.left-align {
    position: absolute;
    top: 10px;
    left: 5px;
}

.right-align {
    position: absolute;
    top: 10px;
    right: 5px;
}

.sign-in {
    border: 2px solid white;
}

.log-out {
    border: 2px solid white;
}
