<mat-sidenav-container class="main-page-layout">
    <mat-sidenav mode="side" opened>
        <div class="side-tabs">
            <mat-list>
                <mat-list-item class="icon-links"> 
                    <button routerLink="grocery" matTooltip="Ingredients List" id="grocery-link"> 
                        <mat-icon class="material-symbols-rounded"> grocery </mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item class="icon-links"> 
                    <button routerLink="my-pantry" matTooltip="My Pantry" id="my-pantry-link">  
                        <mat-icon class="material-symbols-rounded"> kitchen </mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item class="icon-links"> 
                    <button routerLink="shopping-cart" matTooltip="Shopping List" id="shopping-list-link">  
                        <mat-icon class="material-symbols-rounded"> shopping_cart </mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item class="icon-links"> 
                    <button routerLink="user-profile" matTooltip="User Profile" id="profile-link">  
                        <mat-icon class="material-symbols-rounded"> person </mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item class="icon-links"> 
                    <button routerLink="about" matTooltip="About Page" id="about-link">  
                        <mat-icon class="material-symbols-rounded"> contact_support </mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="routing-apps">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="recipe-background"> <app-recipe-layout></app-recipe-layout> </mat-sidenav-content>
</mat-sidenav-container>