.main-page-layout {
    height: 100%;
    background-color: #eee;
}

.recipe-background {
    background-color: #FCFBD7;
}

.side-tabs {
    height: 100%;
    width: 10%;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.routing-apps {
    display: inline-block;
    width: 90%;
    margin-left: 10%;
}

.icon-links {
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
}