:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.webpage {
    height: 100%;
}

app-header {
    display: flex;
    flex-shrink: 0;
    height: 80px;
}

app-page-layout {
    height: calc(100vh - 80px);
}