.header {
    margin: 10px;
    margin-bottom: 0px;
}

.header-button {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    outline: none;
    margin: 5px;
    border-radius: 5px;
}

.header-button:hover {
    background-color: #e0e2ec;
}

.delete-button:hover {
    color: red;
}

.recipe-content {
    display: flex;
    padding-top: 0;
}

.recipe-info {
    border: solid black 4px;
    border-bottom: 0px;
    margin: 24px;
    margin-bottom: 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.recipe-description {
    border: solid black 4px;
    border-bottom: 0px;
    margin: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
}

.column {
    flex:50%;
    padding: 10px;
    border: solid black 4px;
}

.left-content {
    border-right: 2px solid black;
}

.right-content {
    border-left: 2px solid black;
}

.content-header {
    justify-content: center;
    display: flex;
}

.ingredient-item {
    display: flex;
    justify-content: space-between;
}