<mat-sidenav-container class="main-page-layout">
    <mat-sidenav mode="side" class="friends-list" opened>
        <h1 class="header"> My Friends </h1>
        <hr>
        <nav id="friend-nav" class="nav-list">
            <li class="nav-item">
                <button class="friend-nav-button" (click)="renderFollowedAccounts($event)"> Follows </button>
            </li>
            <li class="nav-item">
                <button class="friend-nav-button" (click)="renderFollowers($event)"> Followers </button>
            </li>
            <li class="nav-item">
                <button class="friend-nav-button" (click)="renderPendingRequests($event)"> Pending </button>
            </li>
        </nav>
        <div class="friends-list"> 
            @if (this.friendTab == FriendType.follows) {
                @for (followedAccounts of followsList; track followedAccounts) {
                    <ul class="friend-list-item">
                        <button [routerLink]="['/user', followedAccounts.friendid]"  (click)="test(followedAccounts)" class="friend-list-button">
                            <span>
                                {{followedAccounts.username}} 
                            </span>
                        </button>  
                    </ul>
                }
            }
            @else if (this.friendTab == FriendType.followers) {
                @for (followers of followersList; track followers) {
                    <ul class="friend-list-item">
                        <button [routerLink]="['/user', followers.userid]" (click)="test(followers)" class="friend-list-button">
                            <span>
                                {{followers.username}} 
                            </span>
                            <span>
                                <button class="friend-nav-icon friend-request" matTooltip="Follow Back">
                                    <mat-icon class="material-symbols-outlined"> person_add </mat-icon>
                                </button>
                            </span>
                        </button>     
                    </ul>
                }
            }
            @else if (this.friendTab == FriendType.pending) {
                @for (pending of pendingList; track pending) {
                    <ul class="friend-list-item">
                        @if (pending.isfollower) {
                            <button [routerLink]="['/user', pending.userid]" class="friend-list-button">
                                <span>
                                    {{pending.username}} 
                                </span>
                                <span>
                                    <button class="friend-nav-icon accept" matTooltip="Accept Request">
                                        <mat-icon class="material-symbols-outlined"> check </mat-icon>
                                    </button>
                                    <button class="friend-nav-icon reject" matTooltip="Decline Request">
                                        <mat-icon class="material-symbols-outlined"> close </mat-icon>
                                    </button>
                                </span>
                            </button>                            
                        }
                        @else {
                            <button [routerLink]="['/user', pending.friendid]" class="friend-list-button">
                                <span>
                                    {{pending.username}} 
                                </span>
                                <mat-icon matTooltip="Pending Request" class="material-symbols-outlined"> more_horiz </mat-icon>
                            </button> 
                        }
                    </ul>
                }
            }
        </div>
        <div class="bottom-tab">
            <button class="nav-right-align icon-button" (click)="AddNewFriend()" matTooltip="Add User">
                <mat-icon class="material-symbols-rounded"> group_add </mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="user-info">
        @if (!isActiveUser()) {
            <button class="back-arrow" (click)="goBackToMyself()">
                <mat-icon class="material-symbols-rounded"> arrow_back </mat-icon>
            </button>
        }
        <div class="profile-frame" >
            <img id="profile-pic" src="/profile-pics/catdream.jpg" alt="cat dreams">
        </div>
        <!-- This should be route protected such that this is always true-->
        @if (this.userData) { 
            <div class="public-info">
                <div id="display-name-box">
                    <h1 id="my-display-name" class="left-align"> {{ this.userData.displayname }} </h1>
                     @if (isActiveUser()) {
                        <button (click)="EditProfileInfo()" class="right-align icon-button" matTooltip="Edit My Info" matTooltipPosition="right">  
                            <mat-icon class="material-symbols-rounded"> manage_accounts </mat-icon>
                        </button>
                    } 
                </div>
                <p id="my-bio">
                    {{ this.userData.bio }}
                </p>
            </div>
        }
        <hr>
        <h1 class="recipe-header"> My Recipes </h1>
        <div class="search-recipe-box">
            <mat-form-field class="recipe-searchbar dense-2">
                <mat-label> Search Recipe </mat-label>
                <input matInput>
            </mat-form-field>
            <button class="search-icon" matTooltip="Search Recipe">
                <mat-icon class="material-symbols-rounded"> search </mat-icon>
            </button>
            <button (click)="AddNewRecipeDialog()" class="search-icon" matTooltip="Upload Recipe">
                <mat-icon class="material-symbols-rounded"> add </mat-icon>
            </button>
        </div>
        <div class="recipe-list">
            @for (recipe of myRecipes; track recipe.recipeid) {
                <div class="recipe-item" (click)="OpenRecipeView(recipe)">
                    <div class="recipe-pic-frame">
                        <mat-icon class="material-symbols-rounded recipe-icon"> lunch_dining </mat-icon>
                    </div>
                    <div class="recipe-info">
                        <div class="recipe-title">
                            {{recipe.recipename}}
                        </div>
                    </div>
                </div>
            }
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>