<mat-sidenav-container class="main-page-layout">
    <mat-sidenav mode="side" class="friends-list" opened>
        <h1 class="header"> My Friends </h1>
        <hr>
        <nav id="friend-nav" class="nav-list">
            <li class="nav-item">
                <button class="friend-nav-button" (click)="renderFollowedAccounts($event)"> Follows </button>
            </li>
            <li class="nav-item">
                <button class="friend-nav-button" (click)="renderFollowers($event)"> Followers </button>
            </li>
            <li class="nav-item">
                <button class="friend-nav-button" (click)="renderPendingRequests($event)"> Pending </button>
            </li>
        </nav>
        <div class="friends-list"> 
            @for(friend of friendsList; track friend) {
                <ul class="friend-list-item">
                    @if (this.friendTab == FriendType.followers) {
                        <button [routerLink]="['/user', friend.friendid]" (click)="test(friend)" class="friend-list-button">
                            {{friend.username}} 
                        </button>                        
                    }
                    @if (this.friendTab == FriendType.followed) {
                        <button [routerLink]="['/user', friend.userid]"  (click)="test(friend)" class="friend-list-button">
                            {{friend.username}} 
                        </button>  
                    }
                    @if (this.friendTab == FriendType.pending) {
                        <button class="friend-list-button">
                            {{friend.username}} 
                        </button>  
                    }
                </ul>
            }
        </div>
        <div class="bottom-tab">
            <button class="nav-right-align icon-button" matTooltip="Add User">
                <mat-icon class="material-symbols-rounded"> group_add </mat-icon>
            </button>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="user-info">
        <div class="profile-frame" >
            <img id="profile-pic" src="/profile-pics/catdream.jpg" alt="cat dreams">
        </div>
        <!-- This should be route protected such that this is always true-->
        @if (this.userData) { 
            <div class="public-info">
                <div id="display-name-box">
                    <h1 id="my-display-name" class="left-align"> {{ this.userData.displayname }} </h1>
                     @if (isActiveUser()) {
                        <button (click)="EditProfileInfo()" class="right-align icon-button" matTooltip="Edit My Info" matTooltipPosition="right">  
                            <mat-icon class="material-symbols-rounded"> manage_accounts </mat-icon>
                        </button>
                    } 
                </div>
                <p id="my-bio">
                    {{ this.userData.bio }}
                </p>
            </div>
        }
        <hr>
        <h1 class="recipe-header"> My Recipes </h1>
        <div class="search-recipe-box">
            <mat-form-field class="recipe-searchbar dense-2">
                <mat-label> Search Recipe </mat-label>
                <input matInput>
            </mat-form-field>
            <button class="search-icon" matTooltip="Search Recipe">
                <mat-icon class="material-symbols-rounded"> search </mat-icon>
            </button>
            <button (click)="AddNewRecipeDialog()" class="search-icon" matTooltip="Upload Recipe">
                <mat-icon class="material-symbols-rounded"> add </mat-icon>
            </button>
        </div>
        <div class="recipe-list">
            @for (recipe of myRecipes; track recipe.recipeid) {
                <div class="recipe-item" (click)="OpenRecipeView(recipe)">
                    <div class="recipe-pic-frame">
                        <mat-icon class="material-symbols-rounded recipe-icon"> lunch_dining </mat-icon>
                    </div>
                    <div class="recipe-info">
                        <div class="recipe-title">
                            {{recipe.recipename}}
                        </div>
                    </div>
                </div>
            }
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>